{% extends 'groups/frame.html' %}
{% load i18n %}
{% load bootstrap %}

{% block title %}{{ block.super }} :: Manager, Edit {{ usergroup.group_name }}{% endblock %}

{% block body %}
    <div class="page-header">
        <h1>
            {% if usergroup %}Edit User Group {{ usergroup.group_name }} {% else %}Add new user group{% endif %}
        </h1>
    </div>
    {% block columns %}
        <div class="col-md-12">
            <form method="post" class="well form" novalidate>
                {% csrf_token %}
                {{ form|bootstrap }}
                <input type="submit" value="Save" class="btn btn-primary">
                <a href="{% url 'usergroup-list' %}" class="btn btn-warning">Cancel</a>
                {% if usergroup %}<a id="deleteGroup" href="../delete/{{ usergroup.group_name }}" class="btn btn-danger pull-right" data-confirm="true">Delete</a>{% endif %}
            </form>
        </div>
    {% endblock %}



{% endblock %}


