{% extends 'groups/frame.html' %}
{% block body %}
    <div class="page-header">
        <h1>Groups</h1>
    </div>
    <p>
        <a href="{% url 'group-edit' %}" class="btn btn-default btn-sm">Add new group</a>
    </p>
    {% load mptt_tags %}
    <ul>
        {% recursetree nodes %}
            <li>
                <a href="{% url 'group-edit' node.group_name %}">{{ node.group_name }}</a>
                {% if not node.is_leaf_node %}
                    <ul class="children">
                        {{ children }}
                    </ul>
                {% endif %}
            </li>
        {% endrecursetree %}
    </ul>
{% endblock %}