{% extends 'groups/frame.html' %}
{% block body %}
<div class="page-header">
  <h1>Users</h1>
</div>
<table class="table table-bordered">
<tr>
    <th>Id</th>
    <th>Username</th>
    <th>IsAdministrator</th>
    <th>Belonged Groups</th>
</tr>
{% for userprofile in object_list %}
    <tr>
        <td>{{ userprofile.user.id }}</td>
        <td>{{ userprofile.user.get_username }}</td>
        <td>{{ userprofile.is_administrator }}</td>
        <td>{{ userprofile.belonged_groups.all }}</td>
    </tr>
{% empty %}
    <tr>No users yet.</tr>
{% endfor %}
</table>
{% endblock %}